<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <logging>
        <junit outputFile="coverage/junit.xml"/>
        <teamcity outputFile="coverage/teamcity.txt"/>
        <testdoxHtml outputFile="coverage/testdox.html"/>
        <testdoxText outputFile="coverage/testdox.txt"/>
    </logging>
    <coverage>
        <report>
            <cobertura outputFile="coverage/cobertura.xml"/>
            <crap4j outputFile="coverage/crap4j.xml" threshold="50"/>
            <html outputDirectory="coverage/html" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="coverage/coverage.php"/>
            <text outputFile="coverage/coverage.txt"/>
            <xml outputDirectory="coverage/xml"/>
        </report>
    </coverage>
    <php>
        <ini name="memory_limit" value="512M"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
