#!/usr/bin/env php
<?php

declare(strict_types=1);

require implode(DIRECTORY_SEPARATOR, [__DIR__, 'vendor', 'autoload.php']);

use Symfony\Component\Console\Application;
use TeamRadHQ\ConfigTemplates\Console\ListTemplates;

$application = new Application;
$application->addCommand(new ListTemplates);
try {
    $application->run();
} catch (Exception $exception) {
    echo $exception->getMessage();
    if (getenv('APP_DEBUG')) {
        var_dump($exception);
    }

    exit(1);
}
